* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: serif;
}
.menu-bar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 80px;
  width: 100%;
}
.logo {
  color: white;
  font-size: 30px;
}
.menu-bar ul li {
  padding: 10px 30px;
  position: relative;
}
.menu-bar ul {
  display: flex;
}
.menu-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: gray;
}
.drop_menu {
    display: none;
}
/* .drop_menu {
  display: block;
  position: absolute;
  right: -55px;
  top: 100%;
  background-color: black;
} */
.menu-bar ul li:hover .drop_menu {
  display: block;
  position: absolute;
  right: -55px;
  top: 100%;
  background-color: black;
}
.drop_menu ul {
  display: block;
  list-style-type: none;
}
.drop_menu ul li {
  width: 150px;
  padding: 10px;
}